__pycache__/
*.py[cod]
logs/
.venv
venv/
ckpts/
.vscode/
*.db
.pytest_cache/
.env
secrets/
submissions/
.drive_locks/
backups/
tests/
training/

# Custom project ignores
*.zip
*.csv
*.xlsx
*.pth
*.log
submission/
agent/agent.py
agent/agent.zip